body {
  background-color: #5f7a7a;
}

.joke {
  border: 1px solid black;
  font-size: 30px;
  padding:15px;
  margin-right: 15vw;
  margin-left: 8vw;
  margin-top: 40px;
  justify-content: space-around;
  list-style-type: none;
  background-color: rgb(226, 236, 218);
  box-shadow: 6px 6px 15px black;
}